.app-icon{
    border: 1px solid black;
    width:148px;
}
.app-name{
    padding-left:15px;
    font-size:36px;
}
.app-publisher, .app-version{
    font-size:28px;
    font-weight:lighter;
}
#carousel-appScr {
    border: 1px solid black;
    width: 100%;
    float:right;
    margin-top:25px;
}
.app-screenshot {
	width: 100%;
	height: auto;
}
.app-desc{
    font-size:20px;
    font-weight:normal;
    text-align:left;
    margin-top:25px;
}
.app-screenshot-vertical-center {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.app-header{
    height:175px;
    border-bottom:2px solid #ebebeb;
}
.carousel-control.left, .carousel-control.right{ 
background: none !important; 
filter: progid:none !important; 
}
