<configuration>
	<system.webServer>
	<staticContent>
	    <mimeMap fileExtension=".json" mimeType="application/json" />
	    <mimeMap fileExtension=".3dsx" mimeType="application/3dsx" />
	    <mimeMap fileExtension=".smdh" mimeType="application/smdh" />
	</staticContent>
        <rewrite>
        <rules>
<rule name="Always WWW" enabled="true">
      <match url="(.*)" />
        <conditions>
          <add input="{HTTP_HOST}" negate="true" pattern="^www\.(.*)$" />
        </conditions>
        <action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
    </rule>
     <rule name="API">
				<match url="^api/.*"  />
				<action type="Rewrite" url="/api.php"  appendQueryString="true" />
			</rule>
<rule name="HTTP to HTTPS redirect" stopProcessing="true">
  <match url="^secure/.*" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
</rule>
        </rules>
       </rewrite>

<httpErrors>
       <error statusCode="404" path="/error/error.php/404" responseMode="ExecuteURL" />                
       <error statusCode="500" path="/error/error.php/500" responseMode="ExecuteURL" />
</httpErrors>
	</system.webServer>
</configuration>
