<configuration>
	<system.webServer>
		<httpCompression directory="%SystemDrive%\inetpub\
temp\IIS Temporary Compressed Files">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
    <dynamicTypes>
      <add mimeType="text/*" enabled="true"/>
      <add mimeType="message/*" enabled="true"/>
      <add mimeType="application/javascript" enabled="true"/>
      <add mimeType="*/*" enabled="false"/>
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true"/>
      <add mimeType="message/*" enabled="true"/>
      <add mimeType="application/javascript" enabled="true"/>
      <add mimeType="*/*" enabled="false"/>
    </staticTypes>
  </httpCompression>
  <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<httpRedirect enabled="false" />
	<staticContent>
	    <mimeMap fileExtension=".json" mimeType="application/json" />
	    <mimeMap fileExtension=".3dsx" mimeType="application/3dsx" />
	    <mimeMap fileExtension=".smdh" mimeType="application/smdh" />
	</staticContent>
        <rewrite>
        <rules>
<rule name="Always WWW" enabled="true" stopProcessing="true">
      <match url="(.*)" />
        <conditions>
          <add input="{HTTP_HOST}" negate="true" pattern="^www\.(.*)$" />
        </conditions>
        <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
    </rule>
<rule name="HTTP to HTTPS redirect" stopProcessing="true">
  <match url="^secure(/.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
  <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/secure{R:1}" />
</rule>
         <rule name="API">
				<match url="^api(/.*)"  />
				<action type="Rewrite" url="/api.php"  appendQueryString="true" />
			</rule>
			 <rule name="NEWAPI">
				<match url="^newApi(/.*)"  />
				<action type="Rewrite" url="/newApi.php"  appendQueryString="true" />
			</rule>
        </rules>
       </rewrite>

<httpErrors>
       <error statusCode="404" path="/error/index.php/404" responseMode="ExecuteURL" />                
       <error statusCode="500" path="/error/index.php/500" responseMode="ExecuteURL" />
</httpErrors>
	</system.webServer>
</configuration>
