/**
 *   Index page listing, category listing, search page results
 */
body{
	overflow-y: scroll;
	overflow-x: hidden;
}
.items {
	list-style: none;
	float: left;
	max-width:100%;
}
	.items > li {
		color: gray;
		background: #3c4552;
	}
		.posts .items > li{
			background: #fff !important;
			padding: 30px 0;
		}
		.posts .items > li:first-child{
			background: #fff !important;
			margin-top: 45px;
			padding: 75px 0 -30px;
		}
			.items li h1 a, .posts .items > li h2 a {
				color: #97aec9;
			}
	.items h1 {
		padding: 0 0 8px;
	}
		.items h1 a {
			text-decoration: none;
		}
	.items h2 {
		font-size: 32px;
		line-height: 41px;
	}
		.items h2 a {
			display: block;
			padding-bottom: 12px;

			color: #fff;
			color: rgba(176,200,236,.8);

			text-decoration: none;
		}
			.items h2 a:hover {
				color: #fff;
			}
		.items .content p {
			padding-bottom: 15px;
		}

/**
 *   Pagination
 */
.pagination {
	overflow: hidden;
	padding: 30px 0;
	margin-bottom: 50px;

	border-top: 1px solid rgba(22,36,54,.1);
	border-bottom: 1px solid rgba(22,36,54,.1);
}
	.pagination:empty {
		display: none;
	}
	.pagination a {
		float: left;
		text-decoration: none;

		font-size: 13px;
		font-weight: 500;

		color: #6f7b8b;
	}
		.pagination a:hover {
			color: #3c4857;
		}
	.pagination a.next {
		float: right;
	}
/**
 *   Comment form
 */
ul.commentlist {
	margin-bottom: 40px;

	list-style: none;
	border-top: 1px solid rgba(22,36,54,.1);
}
	ul.commentlist .wrap {
		position: relative;
	}
	ul.commentlist li {
		padding: 40px 0;
		border-bottom: 1px solid rgba(22,36,54,.1);
	}
		ul.commentlist time {
			font-size: 13px;
		}
		ul.commentlist h2 {
			font-size: 25px;
			line-height: 33px;
		}
		ul.commentlist .counter {
			position: absolute;
			right: 0;
			top: 0;

			font-size: 25px;
			font-weight: 300;
			color: #cdd2da;
		}

#comment {
	overflow: hidden;
}
	#comment label[for] {
		display: none;
	}
	#comment p {
		float: left;
		width: 48%;
		margin-right: 4%;
		margin-bottom: 10px;

		text-indent: 0;
	}
		#comment p + p {
			margin-right: 0;
		}
		#comment p.textarea {
			float: none;
			width: 100%;
		}
	#comment input, #comment textarea {
		width: 100%;
		padding: 10px 15px;

		font-size: 15px;
		font-weight: normal;

		border: 1px solid rgba(22,36,54,.2);
		border-radius: 4px;
	}
		#comment input:focus, #comment textarea:focus {
			outline: none;
			background: #f7f9fc;
		}
		#comment textarea {
			min-height: 150px;
			max-height: 800px;
			resize: vertical;
		}
	#comment button {
		display: inline-block;
		padding: 9px 18px;

		background: #4e82ce;
		color: #fff;

		border: none;
		border-radius: 5px;
		cursor: pointer;

		font-size: 13px;
		font-weight: 500;
	}
		#comment button:hover {
			background: #3c6eb7;
		}
